*{padding:0;
margin:0;
color:white;
}
#navbar{height:60px;
background-color:#0f1111;}
button{background-color:#f08800;}
#logo{color:#f08800;
font-size:25px;}
a{margin-right:90px;
text-decoration:none;}
#toy{height:500px;
     width:500px;}

