*{padding:0;
margin:0;
color:white;
}
#navbar{height:0px;
background-color:#0f1111;
        width:100vh;
        position:sticky;
       }
button{background-color:#f08800;}
#logo{color:#f08800;
font-size:25px;}
a{margin-right:90px;
text-decoration:none;}
#toy{height:450px;
     width:450px;}
#toy2{height:450px;
     
      width:450px;}

#A{display:flex;
   justify-content:space-evenly;}

b{color:black;}
#C{display:flex;
   justify-content:space-evenly;}
#s{color:black;
   font-size:30px;}
#D{display:flex;
justify-content:space-evenly;}
#Size{font-size:30px;}
#footer{background-color:black;
        height:60px;
        text-align:center;
       }
footer{color:white;
       font-size:25px;
       }
  #E{color:black;}
